<article class="post">
  <div class="title">

    <h3>
      <a href="/post/{{id}}"{{title}}>{{title}}</a>
    </h3>
    
    {{#unless homepage}}
    {{!-- Display all posts on Homepage  --}}
    <p class="post_content">{{post_content}}</p>
    {{/unless}}

  </div>
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>